ModuleNotFoundError: No module named 'project'

In [5]:
import torch
import pandas as pd
import sys
sys.path.append("../")
from project.datasets.dataset import DepDataModule

import os
import numpy as np

In [2]:
DepDataModule.get_IDs(root = os.path.join(ROOT_DIR,"test_dir"))

['test_sub1' 'test_sub1' 'test_sub2' 'test_sub2' 'test_sub2' 'test_sub2'
 'test_sub3']

   subjectID     scanID
0  test_sub1     112312
1  test_sub1       1222
2  test_sub2          1
3  test_sub2  123123232
4  test_sub2     123333
5  test_sub2    1451232
6  test_sub3       1232

In [12]:
test = pd.DataFrame({'a': [101010, 1000122],'b': [111,1111111]})
test.columns[np.where(test.isin([1111111]))[1][0]]

'b'